 <div class="container-fluid">
        <!-- NAVIGATION -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav-menu-container">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" id="site-name" href="/">The Dogtor</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto nav-menu">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger menu-active" href="/saved">Saved Articles</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br>

        <!-- MAIN -->
        <div class="container-fluid">

            {{!-- <button type="button" class="btn btn-primary btn-sm">Scrape New Articles</button>
            <button type="button" class="btn btn-secondary btn-sm">Clear Articles</button> --}}

<br>

{{!-- <div class="wrap">
    <img src="../assets/images/news.png" id="top" data-appear-animation="fadeIn" width="100%;" height="200px;"/>
    <div class="text">Mongo Scraper
        <br/>New York Times Edition</div>
</div> --}}


        <div class="row">
            <div class="col-md-9">
                <img src="./assets/img/snout.png" class="main-img" alt="Dog Snout">
            </div>

            <div class="col-md-3">
                <h1>THE DOGTOR</h1>
                <h3>IS NOW IN</h3>

                <button type="button" class="btn btn-primary btn-sm">Scrape New Articles</button>
            <button type="button" class="btn btn-secondary btn-sm">Clear Articles</button>

            </div>
        </div>

        </div>

    </div>
